* {
  margin: 0;
  padding: 0;
}

.login {
  display: flex;
}


h2 {
  text-align: center;
}


form {
  border-radius: 10%;
  padding: 60px;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 10vh;
}

.n-form-group {
  text-align: center;
  padding-top: 15px;
}

.n-form-group .password{
  border: 2px red solid;
}


.input-css {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #d3d3d4;
  padding: 12px;
}

.n-form-button {
  border-radius: 0 !important;
  color: black !important;
  border: none !important;
  /* background-color: #5ea85e !important; */
  background-color: rgb(217, 217, 217) !important;
}

button.n-form-button {
  width: 300px;
  position: relative;
  left: 45px;
  margin-top: 15px;
  padding: 10px;
  
}

.n-form-inner h2,
.n-form-inner p {
  text-align: center;
}

p {
  color: rgb(147, 147, 147);
  font-size: 12px;
}

.rules {
  /* border: 1px solid red; */
  text-align: left;
  color: rgb(147, 147, 147);
  position: relative;
  left: 12px;
}

.rules h10 {
  font-size: small;
  position: relative;
  left: 32px;
}

ul .regular {
  font-size:small
}

ul .small {
  font-size: 12px;
  position: relative;
  left: 10px;
}